@import '../shared/styles/colors.scss';

.profileContainer {
    flex-grow: 1;
    display: flex;
}

.leftSide, .rightSide {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.leftSide {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rightSide {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    background-color: #222222;
    padding: 30px;
    margin: 20px;
    color: mintcream;
}

.avatar {
    width: 100px;
    height: auto;
}

.statisticContainer {
    padding: 20px 40px;
    color: whitesmoke;
    background: $black200;
    border-radius: 5px;
    margin-top: 20px;
}

.statisticContainer h1 {
    font-size: 1.6rem;
}

.statisticContainer h2 {
    font-size: 1.4rem;
}

.statisticContainer span, .statisticContainer h1 {
    font-weight: bold;
}

.statisticContainer span {
    margin-right: 5px;
}