@import "../shared/styles/colors.scss";

.listLayout {
  background: #222222;
  padding: 20px 40px;
  max-width: 600px;
  border-radius: 5px;
}

.tableLables{
  color: mintcream!important;
}

.eventsContainer {
  display: flex;
  flex-flow: row nowrap;
}

.listContainer {
  flex-grow: 1;
  margin: 20px 40px;
}

.globeContainer {
  flex-grow: 1;
  margin: 20px 40px;
}

.listTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: center;
  & > h1 {
    margin: 0;
    font-size: 1.4rem;
    color: mintcream!important;
  }
}

.tableImput {
  border-radius: 4px;
  border: 1px solid;
  background-color: #444444;
  padding-left: 5px;
}

.searchEvents {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
}
.searchEvents > button {
  margin-left: 5px;
  padding: 5px 20px;
}

.eventTitle {
    flex-grow: 1;
}

.paginationContainer {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
}