.footerContainer{
    background-color: #222222;
    color: darkslateblue;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px
}

.facebookImg{
    height: 20px;
    width: 20px;
    margin: 0 10px;
}