.pageLayout {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
.mainLayout{
    min-height: 300px;
    max-width: 1400px;
    margin: 20px auto;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}