@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: "Roboto";
    font-size: 14px;
    background: rgba(68,68,68,1);
    background: linear-gradient(to bottom, rgba(68,68,68,1) 0%, rgba(34,34,34,1) 100%);
}

a {
    text-decoration: none;
=======
    background: #dddddd;
    font-family: 'Roboto', sans-serif;
>>>>>>> 8c645f236f7e385ef178af3ad8fbd9cc7b4b2f58
}